--- 
--- 

// https://imagecolorpicker.com/color-code/9ce6cd
$green: #ff8d8e;
$green_dark10: #f97273;
$green_dark20: #f75b5c;
$header-bg-color: $green !default;
$header-bg-color-secondary: $green !default;
$section-headings-color: $green_dark10 !default;

@import "{{ site.theme }}";

a {
  color: $green_dark20
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 84em;
  }
}

#tabs {
  text-align: center;
  color: $green;
  
  a {
    color: $green;
  }
  
  @include large {
    font-size: 1.25rem;
  }
  
  @include medium {
    font-size: 1.15rem;
  }
  
  @include small {
    font-size: 1rem;
  }
  
  margin-bottom: 50px;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  
  @include large {
    font-size: 2.25rem;
  }
  
  @include medium {
    font-size: 1.75rem;
  }
  
  @include small {
    font-size: 1.15rem;
  }
}

img[alt="Centre Broca Nouvelle-Aquitaine"] {
  width: 100%;
  max-width: 600px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

img[alt="Group picture"] {
  width: 100%;
  max-width: 800px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
